form {
    padding: 50px 30px;
    padding-top: 35px;
    box-shadow: 0px 0px 3px 0px;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'] {
    display: block;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #333;
    outline: none;
    padding: 5px;
    font-size: 14px;
    background: #ccc;
    width: 300px;
    line-height: 25px;
}

input[type='submit'] {
    padding: 5px 15px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0px 1px 1px 0px;
}